<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Apex Fraud Prediction | About Us</title>

    <!-- CSS  -->
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="C:/Users/user/Credit/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="C:/Users/user/Credit/static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <div class="navbar-fixed">
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="C:\Users\user\Credit\templates\index1.html" class="brand-logo">Apex Fraud Prediction</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="C:\Users\user\Credit\templates\index1.html" target="_blank" rel="noopener noreferrer">Home</a></li>
                    <li><a href="C:\Users\user\Credit\templates\about.html">About Us</a></li>

                    <li><a href="C:\Users\user\Credit\templates\contact.html" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="C:\Users\user\Credit\templates\index1.html" target="_blank" rel="noopener noreferrer">Home</a></li>
                    <li><a href="C:\Users\user\Credit\templates\about.html">About Us</a></li>

                    <li><a href="C:\Users\user\Credit\templates\contact.html" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <br>

    <div class="input-field col s6 center-align">
        <h3>Developer Details:</h3>
    </div>
    <br>

    <div class="input-field col s6 left-align">
        <h5>Mentor's are:</h5>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Dr. Subha Jain</b></h6>
            <p>Dr. Shubha Jain is Professor & Head, CSE Department, Axis Institute of Technology and Management, Kanpur. She had done Ph.D. (CSE) from Uttarakhand Technical University, Dehradun, M.Phil (CS), M.Tech.(CS), GATE Qualified. She is having more
                than 25 years of teaching experience. Her areas of interest include Software Engineering, Artificial Intelligence, Algorithms, Computer Architecture and Organization. She is a member of IETE and Computer Society of India and worked on
                the post of Secretary, Computer Society of India, Kanpur Chapter. She published 25 research papers in various national and international journals and conferences including IEEE conferences.</p>
        </blockquote>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Ass. Prof. Narendra Kumar</b></h6>
            <p>Mr. Narendra Kumar is the Assistant Professor, CSE Department, Axis Institute of Technology and Management. He had done M.Tech from Indian Institute of Technology (Indian School of Mines), Dhanbad. He is having 8 year of Teaching experience.
                His area of interest includes Cyber Security Expert, Data Analyst, Career Counsellor. He has supervised several B.Tech projects such as Developing a comprehensive web based system for agriculturally important microbes, Optimisation Of
                Clusters Using Genetic Algorithms, Security Implementation For MANET.</p>
        </blockquote>
    </div>
    <br>
    <div class="input-field col s6 left-align">
        <h5>Student's are:</h5>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Avi Gupta</b></h6>
            <p>
                <li>Student of BACHELOR OF TECHNOLOGY (Computer Science & Engineering).</li>
                <li>Prusing Engineering from "AXIS INSTITUTE OF TECHNOLOGY AND MANAGEMENT".</li>
                <li>This website we launched on 01, May, 2022.</li>
                <li> His areas of interest include Machine Learning, Data Science, Computer Vision and graphics and Artificial Intelligence. He has published a research paper in International Journal.
                </li>
            </p>
        </blockquote>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Hamza Rahman Khan</b></h6>
            <p>
                <li>Student of BACHELOR OF TECHNOLOGY (Computer Science & Engineering).</li>
                <li>Prusing Engineering from "AXIS INSTITUTE OF TECHNOLOGY AND MANAGEMENT".</li>
                <li>This website we launched on 01, May, 2022.</li>
                <li>His area of interest include java programming,marketing,counselling,book reading,human computer interface,sales, management.He has published a research paper in International Journal.
                </li>
            </p>
        </blockquote>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Harsh Gupta</b></h6>
            <p>
                <li>Student of BACHELOR OF TECHNOLOGY (Computer Science & Engineering).</li>
                <li>Prusing Engineering from "AXIS INSTITUTE OF TECHNOLOGY AND MANAGEMENT".</li>
                <li>This website we launched on 01, May, 2022.</li>
                <li>His areas of interest include Python Programming, C++ Programming, Artificial Intelligence, Machine Learning, Web Development from Front End Developer. He has published a research paper in International Journals.
                </li>
            </p>
        </blockquote>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Prashant Shukla</b></h6>
            <p>
                <li>Student of BACHELOR OF TECHNOLOGY (Computer Science & Engineering).</li>
                <li>Prusing Engineering from "AXIS INSTITUTE OF TECHNOLOGY AND MANAGEMENT".</li>
                <li>This website we launched on 01, May, 2022.</li>
                <li> His areas of interest include python programming , marketing , Counselor, Content writter, Computer Vision and graphics and Artificial Intelligence. He has published a research paper in International Journal.
                </li>
            </p>
        </blockquote>
    </div>
    <div class="input-field col s6">
        <blockquote>
            <h6><b>Rishi Ranjan</b></h6>
            <p>
                <li>Student of BACHELOR OF TECHNOLOGY (Computer Science & Engineering).</li>
                <li>Prusing Engineering from "AXIS INSTITUTE OF TECHNOLOGY AND MANAGEMENT".</li>
                <li>This website we launched on 01, May, 2022.</li>
                <li> His area of interest include Android App Development, Web Development, Machine Learning and java developer. He has published a research paper in international journal.</li>
            </p>
        </blockquote>
    </div>


    <div class="input-field col s6 center-align">
        <h3>Website Details:</h3>
    </div>
    <p>
        The Main Purpose of the site is <b>"Online transactions involves the transfer and sharing of personal
            information (financial information, passwords, etc), and the misuse of this information leads to a
            host of
            frauds and scams, credit card fraud being one
            of the major threats. This can further lead into crimes like identity theft by the third person. One
            of the
            best ways to keep your business safe from cybercriminals is layer of security in payment. One such
            security
            layer is your payment gateway,
            which makes sure that there are no vulnerabilities present in the processing payments. This website
            is then
            used to recognize whether the transaction is fraudulent or a real transaction done by the owner. Our
            objective to make this website is
            to detect the fraudulent transactions while minimizing the fraud transaction. In Apex Credit Card
            Fraud
            Detection, we focused on pre-processing data sets and then analysing as well as on deploying
            multiple
            anomaly detection algorithms such as
            k-nearest neighbours and Logistic Regression Algorithm. Website structure do modelling past credit
            card
            transactions with the data of the ones that turned out to be fraud from the stored data set through
            machine
            learning."
        </b>
    </p>
    <p> Apex fraud detection is of utmost importance, for any bank or financial organization . We've to see for all the potential fraud in order that consumers don't suffer to pay bill for goods that they haven't purchased or become a victim of card frauds
        in the other method. The survey conducted by Clifton Phua and his associates has revealed that techniques such as data processing applications, automated fraud detection, adversarial detection have given an unexpected results in success in some
        areas but they did not provide a permanent and consistent solution in finding fraud detection for longer period of time. Similar research was presented by Wen-Fang YU and Na Wang where they used algorithm like Outlier mining, Outlier detection
        mining and Distance sum algorithms to predict fraudulent transaction accurately in cases of emulation experiment of Mastercard transaction data set of one certain full service bank. Outlier is a data object that significantly deviates from the
        rest of the data objects and behaves in a different manner. It deals with detecting objects that are detached from the most system, the transactions that are fraud and not genuine. The aim here is, therefore, to create an internet site that checks
        whether a requested transaction may be a fraud or the real. Unconventional techniques such as hybrid datamining network classification algorithmizable to perceive illegal instances in an actual card transaction data set, supported network reconstruction
        algorithm that permits creating representations of the one instance deviation from a reference group have proved efficient typically on medium sized online transaction. In this machine learning project, we solve the problem of detecting credit
        card fraud transactions using python libraries such as Scikit Learn, Panda, MatplotLib, Pyplot, Graph, Seaborn, sklearn.linearmodel, Sklearn.matrics, sklearn.modelselection, NumPy, and few other python libraries. We solve the problem by creating
        a binary classifier and experimenting with various machine learning techniques and algorithm to classify the potential fraud transaction. Function used in the machine learning code: head(), tail(), info(), isnull().num(), value_counts(), .shape,
        .describe(), .mean(), .groupby(), .drop(), .fit() The dataset is used from the Kaggle including the data from year 2018-19. The dataset consists of 31 parameters columns. “Time" and “Amount” are the only aspects that were not modified with PCA.
        Total number of 284,807 transactions used with only 492 of them being fraud.
    </p>


    <br><br>
    <footer class="page-footer teal" style="position: middle; left: 0;bottom: 0; width: 100%; ">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Apes Fraud Detection</h5>
                    <p class="grey-text text-lighten-4">Online transactions involves the transfer and sharing of personal information (financial information, passwords, etc), and the misuse of this information leads to a host of frauds and scams, credit card fraud being one of the major
                        threats. This can further lead into crimes like identity theft by the third person. One of the best ways to keep your business safe from cybercriminals is layer of security in payment.
                    </p>
                </div>
                <div class="col l3 s12">
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Share</h5>
                    <ul>
                        <li><a class="white-text" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">Whatsapp</a></li>
                        <li><a class="white-text" href="https://facebook.com/login/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                        <li><a class="white-text" href="https://www.google.com/" target="_blank" rel="noopener noreferrer">Google</a></li>
                        <li><a class="white-text" href="https://www.linkedin.com/login" target="_blank" rel="noopener noreferrer">Linked In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by Team Member "Avi Gupta, Hamza Rahman Khan, Harsh Gupta, Prashant Shukla, Rishi Ranjan "
                <a class="black-text text-lighten-3" href="C:\Users\user\Credit\templates\index1.html"> Project
                    Apex
                    Fraud
                    Detection</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src=".js/materialize.js "></script>
    <script src="js/init.js "></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

</body>

</html>