<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Apex Fraud Prediction | Contact Us</title>

    <!-- CSS  -->
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="C:/Users/user/Credit/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="C:/Users/user/Credit/static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <div class="navbar-fixed">
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="C:\Users\user\Credit\templates\index1.html" class="brand-logo">Apex Fraud Prediction</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="C:\Users\user\Credit\templates\index1.html" target="_blank" rel="noopener noreferrer">Home</a></li>
                    <li><a href="C:\Users\user\Credit\templates\about.html" target="_blank" rel="noopener noreferrer">About Us</a></li>

                    <li><a href="C:\Users\user\Credit\templates\contact.html">Contact Us</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="C:\Users\user\Credit\templates\index1.html" target="_blank" rel="noopener noreferrer">Home</a></li>
                    <li><a href="C:\Users\user\Credit\templates\about.html" target="_blank" rel="noopener noreferrer">About Us</a></li>

                    <li><a href="C:\Users\user\Credit\templates\contact.html">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br>
    <br>

    <div class="container">
        <form action="action_page.php">
            <div class="column">
                <div class="input-field col s6">
                    <i class="material-icons prefix black-grey-text">account_circle</i>
                    <input type="text" id="fname" name="firstname" placeholder="First name..">
                </div>
            </div>
            <div class="column">
                <div class="input-field col s6">
                    <i class="material-icons prefix black-grey-text">account_circle</i>
                    <input type="text" id="lname" name="lastname" placeholder="Last name..">
                </div>
            </div>
            <div class="column">
                <div class="input-field col s6">
                    <i class="material-icons prefix black-grey-text">border_color</i>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>

            <div class="input-field col s6 center-align">
                <button class="btn waves-effect waves-light center-align" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
    </div>

    <p>If you have any query about our website.
        <li>If you have any new ideas to make this website more attractive and effective.</li>
        <li>If you have an issue for using any thing in the website without hesitation you can express their views to make changes in website.</li>
        <li>If you would like do work with us and make your personal website.</li>
        <li>Please contact us on details are given below:</li>

        <br>
        <table border=3 class="striped">

            <tr>
                <th>Name</th>
                <th>Email ID</th>
                <th>Mobile No.</th>
                <th>Whatsapp No.</th>
            </tr>
            <tr>
                <td>Avi Gupta</td>
                <td>gavi123@gmail.com</td>
                <td>9598180076
                </td>
                <td>6392106761</td>
            </tr>
            <tr>
                <td>Hamza Rahman Khan</td>
                <td>hamzarahman123@gmail.com</td>
                <td>8299143321
                </td>
                <td>8318782666</td>
            </tr>
            <tr>
                <td>Harsh Gupta</td>
                <td>harsh97310@gmail.com</td>
                <td>9068225017</td>
                <td>7617457162</td>
            </tr>
            <tr>
                <td>Prashant Shukla</td>
                <td>prashantshukla2571@gmail.com</td>
                <td>9044802571
                </td>
                <td>6306251619</td>
            </tr>
            <tr>
                <td>Rishi Ranjan</td>
                <td>rishiranjan8924@gmail.com</td>
                <td>831878266</td>
                <td>8924853172</td>
            </tr>

        </table>
        <br>
    </p>

    <br><br>
    <footer class="page-footer teal" style="position: middle; left: 0;bottom: 0; width: 100%; ">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Apes Fraud Detection</h5>
                    <p class="grey-text text-lighten-4">Online transactions involves the transfer and sharing of personal information (financial information, passwords, etc), and the misuse of this information leads to a host of frauds and scams, credit card fraud being one of the major
                        threats. This can further lead into crimes like identity theft by the third person. One of the best ways to keep your business safe from cybercriminals is layer of security in payment.
                    </p>
                </div>
                <div class="col l3 s12">
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Share</h5>
                    <ul>
                        <li><a class="white-text" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">Whatsapp</a></li>
                        <li><a class="white-text" href="https://facebook.com/login/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                        <li><a class="white-text" href="https://www.google.com/" target="_blank" rel="noopener noreferrer">Google</a></li>
                        <li><a class="white-text" href="https://www.linkedin.com/login" target="_blank" rel="noopener noreferrer">Linked In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by Team Member "Avi Gupta, Hamza Rahman Khan, Harsh Gupta, Prashant Shukla, Rishi Ranjan "
                <a class="black-text text-lighten-3" href="C:\Users\user\Credit\templates\index1.html"> Project
                    Apex
                    Fraud
                    Detection</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src=".js/materialize.js "></script>
    <script src="js/init.js "></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>


</body>

</html>