<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Apex Fraud Prediction</title>

    <!-- CSS  -->
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="C:/Users/user/Credit/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="C:/Users/user/Credit/static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <div class="navbar-fixed">
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="C:\Users\user\Credit\templates\index1.html" class="brand-logo">Apex Fraud Prediction</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="C:\Users\user\Credit\templates\index1.html">Home</a></li>
                    <li><a href="C:\Users\user\Credit\templates\about.html" target="_blank" rel="noopener noreferrer">About Us</a></li>

                    <li><a href="C:\Users\user\Credit\templates\contact.html" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="C:\Users\user\Credit\templates\index1.html">Home</a></li>
                    <li><a href="C:\Users\user\Credit\templates\about.html" target="_blank" rel="noopener noreferrer">About Us</a></li>

                    <li><a href="C:\Users\user\Credit\templates\contact.html" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <h1 class="header center black-text">WELCOME TO APEX FRAUD DETECTION</h1>
            </div>
            <div class="parallax"><img src="C:\Users\user\Credit\templates\1.jpg" alt="Unsplashed background img 1" width="500" height="600" style="transform: translate3d(-50%, 68.3209px, 0px); opacity: 1;"></div>
        </div>
    </div>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">

            <h1 class="header center orange-text">Details Form</h1>
            <div class="row center">
                <h5 class="header col s12 light">Predict Probability of Fraud Transation
                    <br>
                </h5>
            </div>

            <div class="row">
                <form class="col s12" action="action_page.php">
                    <div class="row">
                        <div class="column">
                            <div class="input-field col s6">
                                <i class="material-icons prefix black-text">account_circle</i>
                                <input name="Account Number" placeholder="Account Number" type="number" class="validate" required="required" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-field col s6">
                                <i class="material-icons prefix black-grey-text">account_circle</i>
                                <input name="Customer Name" placeholder="Customer Name" type="text" class="validate" required="required" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-field col s6">
                                <i class="material-icons prefix black-grey-text">email</i>
                                <input placeholder="E-Mail" name="eid" id="email" type="text" class="validate" required="required">
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix black-grey-text">perm_identity</i>
                            <input placeholder="Age" id="age" type="text" class="validate" required="required">
                        </div>
                        <div class="column">
                            <div class="input-field col s6">
                                <i class="material-icons prefix black-grey-text">account_balance</i>
                                <input name="Bank Name" placeholder="Bank Name" type="text" class="validate" required="required" />
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-field col s6">
                                <i class="material-icons prefix black-grey-text">credit_card</i>
                                <input name="Credit Number" placeholder="Credit Card Number" type="number" class="validate" required="required" />
                            </div>
                        </div>

                        <div class="row center-align">
                            <div class="input-field col s6">
                                <button class="btn waves-effect waves-light" type="submit">Predit Probability
                                    <i class="material-icons right">send</i>
                                    <a href="C:\Users\user\Credit\templates\result1.html"></a>
                                </button>
                                <button class="btn waves-effect waves-light" type="reset" name="action reset">Reset
                                    <i class="material-icons right">cached</i>

                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br><br>
    <footer class="page-footer teal" style="position: middle; left: 0;bottom: 0; width: 100%; ">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Apes Fraud Detection</h5>
                    <p class="grey-text text-lighten-4">Online transactions involves the transfer and sharing of personal information (financial information, passwords, etc), and the misuse of this information leads to a host of frauds and scams, credit card fraud being one of the major
                        threats. This can further lead into crimes like identity theft by the third person. One of the best ways to keep your business safe from cybercriminals is layer of security in payment.
                    </p>
                </div>
                <div class="col l3 s12">
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Share</h5>
                    <ul>
                        <li><a class="white-text" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">Whatsapp</a></li>
                        <li><a class="white-text" href="https://facebook.com/login/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
                        <li><a class="white-text" href="https://www.google.com/" target="_blank" rel="noopener noreferrer">Google</a></li>
                        <li><a class="white-text" href="https://www.linkedin.com/login" target="_blank" rel="noopener noreferrer">Linked In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by Team Member "Avi Gupta, Hamza Rahman Khan, Harsh Gupta, Prashant Shukla, Rishi Ranjan "
                <a class="black-text text-lighten-3" href="C:\Users\user\Credit\templates\index1.html"> Project
                    Apex
                    Fraud
                    Detection</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js "></script>
    <script src=".js/materialize.js "></script>
    <script src="js/init.js "></script>
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

</body>

</html>